.author {
	border-top: 1px solid #ccc;
	border-botom: 1px solid #ccc;
}

.author .card {
	border: none;
}



.author .card-title {
	font-weight: $font-black;
	font-family: $playfair;
	font-style: italic;
}


